{% extends 'b.html' %}

{% block content %}
{% for item in items %}
    <h2>{{item.apps}}</h2>
    <img src="{{item.apps.img.url}}" alt="NO">
    <a href="{% url 'android:complete' item.id %}">Complete Task</a>

{% endfor %}
{% if messages %}
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
{% endif %}
{% endblock %}