

<h1>Hello {{user}}</h1>

<style>
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  font-size: large;
  display: block;
  padding: 8px;
  text-decoration: underline;
  color: black;

}
</style>

{% if user.is_superuser %}
<nav>
    <ul>
        <li>
            <a href="{% url 'android:add_new' %}">Add Apps</a>
        </li>
        <li>
            <a href="{% url 'android:home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'account_logout' %}">Logout</a>
        </li>
    </ul>
</nav>
{% else %}
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="{% url 'android:my_app' %}">Profile</a>
            </li>
            <li>
                <a href="{% url 'android:task' %}">Task</a>
            </li>
            <li>
                <a href="{% url 'android:points' %}">Points</a>
            </li>
            <li>
                <a href="{% url 'account_logout' %}">Logout</a>
            </li>

        </ul>

    
    </nav>
    
{% endif %}
